@import url('https://fonts.googleapis.com/css2?family=Heebo&family=PT+Sans+Narrow&family=PT+Serif&display=swap');


@media only screen (max-device-width: 600px){
  header{
    flex-wrap: wrap;
  }
}

*, *:before, *:after{
  margin: 0;
/* setting the margin made it go closer to the edge*/
  padding: 0;
  box-sizing: border-box;
}

header, body{
  font-family: 'PT Sans Narrow', san-serif;
  letter-spacing: 0.5px;
}

h1{
  font-size: 60px;
  line-height: 55px;
  font-weight: 800;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
  font-weight: 200;
  line-height: 55px;
}

h4{
  color: red;
}

 /* --------------- HEADER/ TOP SECTION-----------------------------*/
#header{
  display: flex;
  justify-content: center;
  
/*have justify-content here to center nav*/
  
  
}
.apple-img{
  height: 40px;
  width: auto;
}
nav{
    margin: 0;
    overflow:hidden;
    text-align: center;
   position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
    z-index: 2;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color: #aaa;
    display: block;
    line-height: 3em;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color: lightGrey; 
    text-shadow: 0 0  #e3e3e3;
    transition: 0.3s ease;
} 


/*
#header{
  background-color: black;
}

nav{
  float: left;
  margin: 0;
  overflow: hidden;
/* removing overflow disappears the bullet for some reason?*/
  /*text-align: center;
  /*putting bg color here will only blacken till the word, "support"* & putting width 100% will put <li> in another line*/
  
/*}
nav ul {
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline-block;
  list-style-type: none;
 /*bullet removal 
   NOTE: text-decoration doesn't affect here bc that's is the underline for LINKS*/
  
/*}

nav ul li a {
  color: #f5f6f7;
  display: block;
  text-decoration: none;
}

#header-img{
  position: relative;
  width:5%;
  float: left;
  margin: 10px 15px 15px 10px;
}

/*#header{
  display:inline;
  background-color: black;
  width: 100%;
  position: sticky;
}*/


/* --------------- BODY/ MIDDLE SECTION-----------------*/
body{
  background-color: #f5f6f7;
  font: 20px;
}

img {
  width: 100%; 
}

.shop{
  text-decoration: none;
}

.link{ /*"learn more, buy"*/
  text-decoration: none;
  color: #1f75ff;
  font-weight: 500;
}
.link:hover{
 text-decoration: underline;
}
.large {
  font-size: 22px;
  margin-right: 5px;
  margin-left: 10px;
}
.small{
  font-size: 18px;
  margin-right: 5px;
  margin-left: 10px;
}
.na{
  text-decoration: none;
}

.blackbg{
  color: #29a8f2;
  
  
}

/* --------------------- Side info ---------------*/
.side-info-container{ /*<p> "no contact, etc"*/
    display: flex;
  margin-top: 50px;
 margin-bottom: 5px;
    justify-content: center;
   
    padding: 5px;
  }


.p-gray{
  color: #999999;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* - -- ------ iPHONE SECTION-------------*/
#iphonesection{
  display: flex;
  flex-direction: column;
}
.promo-container{
  margin-bottom: 5px;
  position: relative;
  
}
.iphone-content{
  position: absolute;
  width: 100%;
  height: 100%;
  top:115%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
  text-align: center;
  
}


.promo-vid{
  display: block;
  text-align: center;
  justify-content: center;
  background: black;
}
iframe {
  width: 100%;
  
}
.order-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.hello-header{
  text-align: center;
  margin: 15px;
}
#email{
  border-radius: 3px;
  padding: 10px;
  width: 55%;
  margin: 15px;
  font-family: inherit;
  text-align: center;
  font-size: 17px;
}
#submit{
  margin: 5px;
  padding: 5px;
  border-radius: 40px;
  background: #1f75ff;
  color: lightGrey;
  font-family: inherit;
  font-size: 21px;
  width: 85px;
  border:none;
}
#submit:hover{
  background: #29a8f2;
  cursor: pointer;
}

#email:focus{
  border: 2px solid lightCyan;
  box-shadow: 1px 2px 6px lightCyan;
  border-radius: 5px;  
}
/*----------------------------------------*/

/*------------GRID / MULTI-------------------*/
.grid-container{
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;   
}

 #ipadsection, #watchsection, #tvsection, #cardsection, #musicsection, {
  align-items: center;
  margin-top: 10px;
  padding: 20px;   
}

.mac-info-container, .ipad-info-container, .watch-container, .tv-container, .card-container, .music-container{
  text-align: center;
  padding: 35px; 
}

.music-img-container, .watch-img-container, .ipad-img-container, .mac-img-container{
  display: flex;
}

.music-img, .watch-img, .ipad-img, .mac-img{
  position: relative;
  align-self: center;
}

.watch{
  float: left;
}
/* -------------- MAC ---------------------*/
#macsection{
  background: #ffffff;
}

.mac-img{
  width: 50%;
  left: 25%;
  right: 25%;
  border-radius: 30px;
}

/*----------- WATCH -----------------------------*/
#watchsection{
  background: black;
}
.watch-header-container{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.watch-header{
  color: white;
  background: black;
}
.watch-header-img{
  max-width:50px;
}
.watch-h3{
  color: white;
}
 

/*----------------------------------------*/

/*--------------TV -----------------------*/
#tvsection{
  background-image: url("https://bucket.mn2s.com/wp-content/uploads/2019/07/03175940/Gabriel-Iglesias-MN2S-1.png");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center 104px;
  background-color: #fff;
  
}
.tv-header-container, .card-header-container, .music-header-container{
  position: relative;
  display: flex;
  flex-shrink: 0; 
  justify-content: center;
}

.fluff{
  position: relative;
  font-weight: 900;
  font-size: 25px;
}
.fluff-header{
  text-shadow: 1px 1px white;
  font-size: 35px;
  font-weight: 900;
}
.fluff-link{
  color:white;
  background: red;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}
/*--------------------------------*/

/*---------------CARD----------------*/
.card-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-p{
  margin: 5px;
}
/*--********************** MUSIC ********************/
#musicsection{
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.music-header-container{
  position: relative;
}



.white {
    color: white;
  }
  
#supportsection{
  margin: 30px;
  position: relative;
  top: 70px;
  
}

/*setting <img> width100% and setting individual ex) .promo w/ flex-shrink:0 resolved image resizing */

  
  

/*
nav ul li a{
  color: cyan;
  text-decoration: none; */
  
  
/*adding a here sets the above properties onto individual <li>s*/




/*
nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li a {
  padding: 60px;
  text-decoration: none;
  color: lightGrey;
}
/*writing NAV UL LI A will set styles to EACH, if you put as #NAV-BAR above the <li>s will smush together because it'll go into a "box" */ 